.sidebar .search-container button {
    font-size: 17px;
}


.button .blog-date  {
    font-size: 0.7em;
}

.blog-header .bio-header .header-title {
    font-size: 2em;
}

.bio-sub-header  .header-subtitle{
    font-size: 17px;
}
